@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Lugrasimo&family=Pinyon+Script&family=Tangerine:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .............Navbar......... */
.list{
  @apply mr-0 lg:mr-7 text-black lg:text-white hover:bg-yellow-700 hover:rounded-full text-base lg:px-5 mt-4;
  font-size:14px;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal; 
}
.logo{
  color: #965A00;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  @apply text-2xl
}
.NavBtn{
  @apply text-white bg-yellow-700 rounded-md px-2 py-1 mt-2 ;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}
/* .........................home page.................... */
.head{
  @apply text-xl lg:text-4xl font-extrabold leading-snug;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}
.headPara{
  @apply mt-4 leading-7;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}
.btnHome{
  background-color: #965A00;
  @apply rounded-lg lg:rounded-full text-white px-3 py-2;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}
/* ...........................cards (mission)................. */
.mission{
    color: #965A00;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    @apply text-3xl lg:text-5xl font-bold text-center mb-8 pt-10
}
.cardTop{
  background-color: #D3B9AE;
  @apply text-black rounded-xl p-4
}
.scale-in-top{animation:scale-in-top .5s cubic-bezier(.25,.46,.45,.94) both}
/*....................... animation ............*/
@keyframes scale-in-top{0%{transform:scale(0);transform-origin:50% 0;opacity:1}100%{transform:scale(1);transform-origin:50% 0;opacity:1}}
/*...................... plan..............?*/
.plan{
  background-color: #965A00;
}
.plan1-title{
  @apply text-4xl mb-3;
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.plan2-title{
  @apply lg:ml-4 font-bold
}
/* ............Help...... */
.help-container{
  @apply bg-orange-500 text-white p-10;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}
.help-title{
  @apply mb-3 text-lg;
}
.helpbtn{
  background-color:#D3B9AE;
  @apply rounded-full text-white px-2 py-1;
  width:220px;

}
/* ..................footer.............. */
.footer{
  background-color:#D3B9AE;
  @apply p-6 ;
  font-family: "Lugrasimo", cursive;
}
.footer-title{
  @apply text-lg lg:text-2xl;
  color:#965A00;
}
.footer-text{
  @apply  hidden lg:block lg:max-w-lg pr-6;
  font-size:14px;
}
.footer-list{
  @apply flex pl-14 mt-20;
  font-size:14px;
}
.link{
  @apply text-black active:text-yellow-700
}
.footerBtn{
  background-color:#965A00;
  @apply rounded-full px-3 py-2;

}
.footer-Details{
  @apply lg:flex items-center justify-between;
  font-size:14px;
}
.footer-span{
  color:#965A00;

}
/* .........signup.............. */
.signupbg{
  background-color: #D3B9AE;
  @apply rounded-3xl  p-6;
}
.signupBtn{
  background-color: #965A00;
  @apply rounded-3xl  p-6 text-white px-3 py-2;
}
  /* ....................Queue...... */
.queueTitle{
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
  @apply  text-lg lg:text-2xl font-bold text-white pt-3 mt-6 mb-4 mx-4
}
.queueContainer{
  @apply max-w-7xl mx-auto grid md:grid-cols-1 p-6
  
}
.queueholder{
  background-color: #D3B9AE;
  @apply mb-14 rounded-2xl;
}
.queueBtn{
  @apply bg-teal-400 text-white px-3 py-2 rounded-full mt-4
}

/* ....................mobile view................. */
@media only screen and (max-width:600px){
  .headPara, .btnHome{
    font-size:12PX;
  }
  .plan1-title{
    @apply text-3xl
  }
  .plan2-title{
    @apply text-lg my-3;
  }
  .help-title{
    @apply mb-3 text-center;
    font-size:18px;
  }
  .helpbtn{
    @apply rounded-md;
    width:100%;
    font-size:14px;
  }

}

